body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 30px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(162, 196, 209, 0.618);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.56);
  }
  
  h1 {
    color: blue;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  #description,#amount {
    width: 90%;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #0066ff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 8px #0066ff;
  }
  
  #chartContainer {
    height: 300px;
    margin-bottom: 20px;
  }
  
  #expensesList {
    text-align: center;
  }
  
